.form {
  background-color: #000;
  border-radius: 5px;
  padding: 30px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  color: #fff;
}

.formInput {
  display: flex;
  justify-content: space-between;
}
